<div>this is the blog section under dashboard</div>

<table class='table table-striped'>
	<tr>
		<div class=''>
			<button type='submit' class='btn btn-default'>Add</button>
		</div>
	</tr>
	<tr>
		<th class=''>Title</th>
		<th class=''>Date</th>
	</tr>
	<tr ng-repeat='blog in vm.blogArr'>
<!-- 
		<td ng-model='blog.title'></td>
	  <td ng-model='blog.date'></td> 
	
 -->
		<td class=''>
			{{blog.title}}
			<div>			
				<a ui-sref='edit' class='btn btn-default'>Edit</a>
				<a ui-sref='trash' class='btn btn-default'>Trash</a>
			</div>	
			
		</td>
		<td class=''>{{blog.date}}</td>
	</tr>
</table>	
