<div>this is the blog section under dashboard</div>

<table class='table table-striped'>
	<tr>
		<div class=''>
				<a ui-sref='add' class='btn btn-default'>Add</a>
		</div>
	</tr>
	<tr>
		<th class=''>Title</th>
		<th class=''>Date</th>
	</tr>
	<tr ng-repeat='blog in vm.blogArr'>
<!-- 
		<td ng-model='blog.title'></td>
	  <td ng-model='blog.date'></td> 
	
 -->
		<td class=''>
			{{blog.title}}
			<div>		
				<!-- <button class='btn btn-default' ng-click='vm.edit(blog.title)'>Edit</button>	
				<button>Cancel</button> -->
				<a ui-sref='edit({blogId: blog.id})' class='btn btn-default'>Edit</a>
				<a ui-sref='trash' class='btn btn-default'>Trash</a>
<!-- 				<button lc-Edit>Edit</button>
				<button lc-Cancel>Cancel</button> -->
			</div>	
			
		</td>
		<td class=''>{{blog.date}}</td>
	</tr>
</table>	
